cffi==1.6.0
cryptography==41.0.3
cycler==0.10.0
idna==2.1
inflection==0.3.1
matplotlib==1.5.1
more-itertools==2.2
ndg-httpsclient==0.4.1
numpy==1.22.0
pandas==0.18.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==17.5.0
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.4
Quandl==3.0.1
requests==2.20.0
scikit-learn==0.17.1
scipy==1.10.0
six==1.10.0
sklearn==0.0
